.container {
    width: 100vw;
}

h1 {
    color: #212427;
    font-weight: bold;
}

.botao {
    background-color: #8257E5;
    border: none;
    font-weight: bolder;
}

.botao:hover {
    background-color: #633BBC;
    border: none;
    font-weight: bolder;
}